.location {
  text-align: center;
  display: flex;

  .center-container {
    display: flex;
    justify-content: right;
    color: #004B87;
    margin: 0; 
  }

}
.MuiPaper-root .MuiAppBar-root .MuiAppBar-positionFixed .MuiAppBar-colorInherit .app-bar-container .mui-fixed .MuiPaper-elevation4 {
  height: 200px;
}